.top__header
  .top__header__box
    .top__header__box__top
      .top__header__box__top__box
        %ul.top__header__box__top__box__brand
          = render 'brands/window'
        .top__header__box__top__box__mypage
          =link_to "https://www.google.com/", class: "top__header__box__top__box__mypage__link" do
            = fa_icon "user-circle", class: "top__header__box__top__box__mypage__icon"
        .top__header__box__top__box__logout
          =link_to destroy_user_session_path, class: "top__header__box__top__box__logout__link", method: :delete do
            = fa_icon "outdent", class: "top__header__box__top__box__logout__link__icon"
    .top__header__box__under
      .top__header__box__under__icon
        = image_tag ("CC-icon.jpg"), height: '60', width: '100'
      = render 'categories/window'
      = form_tag('/search', method: :get, class: 'search-form') do
        %button.btn-search{title: "検索", type: "submit"}
          = fa_icon "search", class: "search-form__icon"
        %input.search-form__input{name: "keyword", placeholder: "SEACH", type: "text", value: ""}    