.top__header
  .top__header__box
    .top__header__box__top
      .top__header__box__top__box
        %ul.top__header__box__top__box__brand
          %li.top__header__box__top__box__brand__list
            =link_to 'Nike Plus', "https://www.google.com/", class: "top__header__box__top__box__brand__list__one"
          %li.top__header__box__top__box__brand__list
            =link_to 'Nike Plus', "https://www.google.com/", class: "top__header__box__top__box__brand__list__one"
        .top__header__box__top__box__mypage
          =link_to "https://www.google.com/", class: "top__header__box__top__box__mypage__link" do
            = fa_icon "user-circle", class: "top__header__box__top__box__mypage__icon"
    .top__header__box__under
      .top__header__box__under__icon
        = image_tag ("CC-icon.jpg"), height: '60', width: '100'
      .top__header__box__under__categories
        = link_to 'Mens', "https://www.google.com/", class: "top__header__box__under__categories__list"
        = link_to 'Mens', "https://www.google.com/", class: "top__header__box__under__categories__list"
      = form_tag('/search', method: :get, class: 'search-form') do
        %button.btn-search{title: "検索", type: "submit"}
          = fa_icon "search", class: "search-form__icon"
        %input.search-form__input{name: "keyword", placeholder: "SEACH", type: "text", value: ""}    