-if user_signed_in?  
  .top
    = render 'shared/header'
    .top__contents
      .top__contents__box
        .top__contents__box__profile
          %h2 
            Cross Cultureへようこそ！
            %br/
            何をお探しですか？
        .top__contents__box__list
          %ul.list
            %li.new
              = link_to "NEW RELEASES", "#root_index-1"
            %li.men
              = link_to "MEN", "#root_index-2"
            %li.women
              = link_to "WOMEN", "#root_index-3"
            %li.kids
              = link_to "KIDS", "#root_index-4"
            %li.shose
              = link_to "SHOUSE", "#root_index-5"
            %li.collection
              = link_to "COLLECTION", "#root_index-6"
        .top__contents__box__items
          .top__contents__box__items__new-releases
            .top__contents__box__items__new-releases__title
              %div{id: "root_index-1"}
                %h3 新着商品
            .top__contents__box__items__new-releases__list
              #slider1.swiper-container
                = render 'slide'
              #thumbs1.swiper-container.mb60
                = render 'thumbs'
          .top__contents__box__items__mens
            .top__contents__box__items__mens__title
              %div{id: "root_index-2"}
                %h3 メンズ
            .top__contents__box__items__mens__list
              #slider2.swiper-container
                = render 'slide'
              #thumbs2.swiper-container.mb60
                = render 'thumbs'
          .top__contents__box__items__womens
            .top__contents__box__items__womens__title
              %div{id: "root_index-3"}
                %h3 レディース
            .top__contents__box__items__womens__list
              #slider3.swiper-container
                = render 'slide'
              #thumbs3.swiper-container.mb60
                = render 'thumbs'
          .top__contents__box__items__kids
            .top__contents__box__items__kids__title
              %div{id: "root_index-4"}
                %h3 キッズ
            .top__contents__box__items__kids__list
              #slider4.swiper-container
                = render 'slide'
              #thumbs4.swiper-container.mb60
                = render 'thumbs'
          .top__contents__box__items__shouse
            .top__contents__box__items__shouse__title
              %div{id: "root_index-5"}
                %h3 シューズ
            .top__contents__box__items__shouse__list
              #slider5.swiper-container
                = render 'slide'
              #thumbs5.swiper-container.mb60
                = render 'thumbs'
    = render 'shared/footer'