.header
  .header__image
    =link_to root_path, class: ".header__image__logo" do
      = image_tag "CC-icon.jpg", alt: "logo", height: 60, width: 90
      %h3 Cross Culture
.single-main
  .sell-container
    .sell-container__inner
      = form_for @product do |f|
        .sell-container__inner__head
          %h2
            商品の情報を入力
        .sell-upload-box
          出品画像
          %span.form-require
            必須
          %p 最大10枚までアップロードできます
          .sell-dropbox-container
            .image-box
              #preview
              = f.fields_for :product_images do |i|
                =i.label :image, class: 'image-uploader', id: "image-label-#{i.index}" do
                  .sell-upload-drop-box
                    %pre クリックしてファイルをアップロード
                    = i.file_field :image, type: "file", class: "upload-image"
            = render partial: 'shared/error', locals: { key: "product_images"}
            .image-box2
              #preview2
              = f.fields_for :product_images do |i|
                =i.label :image, class: 'image-uploader2', id: "image-label-#{i.index}" do
                  .sell-upload-drop-box2
                    %pre クリックしてファイルをアップロード
                    = i.file_field :image, type: "file", class: "upload-image"

        .sell-content
          .form-group-first
            %label.form-label
              商品名
            %span.form-require
              必須
            = f.text_field  :name, class:"input-default", placeholder: "商品名（必須40文字まで）", size: "40"
            = render partial: 'shared/error', locals: { item: @product, key: "name"}
          .form-group
            %label.form-label
              商品の説明
            %span.form-require
              必須
            = f.text_area :description, class:"textarea-default", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
            = render partial: 'shared/error', locals: { key: "description"}

        .sell-content
          %h3.sell-sub-head
            商品の詳細
          .sell-form-box
            .form-group-first-select
              %label.form-label
                カテゴリー
              %span.form-require
                必須
              .select-wrap#select_parent_category
                = f.collection_select :category_id, @category_parent_array, :id, :name, {prompt: "---"}, class: "select-default", id: "parent_category"
                = render partial: 'shared/error', locals: { key: "category_id"}
        .sell-content
          .sell-form-box
            %ul.l-left
              %li.form-group-first
                %label.form-label
                  価格
                  %span.form-require
                    必須
            .input-price
              ¥
              =f.text_field :price, class:"input-price-area", placeholder: "例）300", size: "20"
              = render partial: 'shared/error', locals: { key: "price"}

          .commission
            .l-left
              販売手数料(10%)
            .l-right{ id: "item_fee" }
              −
          .profits
            .l-left
              販売利益
            .l-right{ id: "item_profit" }
              −

        .sell-content
          .form-group
            =f.submit '出品する', class: 'btn__sell_red'
            = link_to 'もどる', root_path, class: "btn btn__gray"
= render 'shared/footer'